# Backend
backend/target/
backend/uploads/

# React
admin-dashboard/node_modules/
admin-dashboard/dist/

# Flutter
guard_app/build/
guard_app/.dart_tool/
guard_app/.flutter-plugins
guard_app/.flutter-plugins-dependencies

# Android build
guard_app/android/build/

# IDE
.vscode/
.idea/

# Secrets
*.env
serviceAccountKey.json